/* Section 1 */

.content-one {
    display:flex; 
    flex-direction: column;
    width: 90%;
}

h1 {
    margin-bottom: 20px;
}

.see-work-button {
    font-size: 17px;
    margin-top: 20px;
    padding-left: 20px;
}

.see-work-button:hover {
    color: var(--primary-default);
}

.get-in-touch {
    background-color: var(--primary-default);
    font-weight: 300;
    color: #fff;
    padding: 14px 24px;
    border: none; 
    font-size: 17px;
}

.get-in-touch:hover {
    background-color: var(--primary-hover); 
}

/* Hero Section */

.hero-section {
    margin-top: 60px;
    position: relative; 
}

.card-1 {
    width: 120px;
    position: absolute;
    top: 0;
    left: 15px; 
}

.card-2 {
    width: 120px;
    position: absolute;
    bottom: 0;
    right: 0px; 
}

/* Media 800px */

@media (min-width:800px) {

    .card-1 {
        width: 200px;
        position: absolute;
        top: 0;
        left: 15px; 
    }
    
    .card-2 {
        width: 200px;
        position: absolute;
        bottom: 0;
        right: 0px; 
    }
}

/* Media 1024px */

@media (min-width:1024px) {

    .content-one {
        width: 500px;
    }

    .content-one p {
        width: 450px;
    }

    .hero-section {
        margin-top: 0;
        position: relative;
        width: 500px;
    }

    .section-one {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
    }

    .card-1 {
        width: 150px;
        position: absolute;
        top: 0;
        left: 15px; 
    }
    
    .card-2 {
        width: 150px;
        position: absolute;
        bottom: 0;
        right: 0px; 
    }
}

/* Clients Logos */

.client-logos {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}

.client-logos img {
    filter: grayscale(100%);
}

.client-logos img:hover {
    filter: none;
}

/* Projects */

h2 {
    margin-bottom: 50px;
}

.card-projects {
    display: flex; 
    flex-direction: column;
}

.card {
    background-color: #ffff;
    box-shadow: 0 3px 30px rgb(55 55 55 / 0.2);
    margin-bottom: 50px;
}

.text-cards {
    margin: 30px; 
}

.text-cards h3 {
    padding-bottom: 10px;
}

.text-cards p {
    padding-bottom: 60px;
}

.card img{
    height: 230px;
    object-fit: cover;
    }

/* Media 600px */

@media (min-width:600px) {

    .card-projects {
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
    }

    .card {
        width: 320px;
    }
}

/* Testimonial Section */

.testimonial-section {
    background-color: var(--neutral-dark);
    background-image: url(./project-assets/testimonial-section/orbit.png);
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    object-fit: cover;
}

.testimonial-section h2 {
    color: #fff; 
    text-align: center;
    font-weight: 300;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 40px;
    margin-bottom: 20px;
}

.testimonial-text {
    color: var(--secondary);
    text-align: center;
    padding-right: 90px;
    padding-left: 90px;
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 30px;
}

.blonde {
    width: 120px;
    position: absolute;
    top: 40px;
    left: 40px; 
}

.cap {
    width: 120px;
    position: absolute;
    top: 40px;
    right: 40px; 
}

.glasses {
    width: 120px;
    position: absolute;
    bottom: 40px;
    left: 40px; 
}

.party {
    width: 120px;
    position: absolute;
    bottom: 40px;
    right: 40px; 
}

.clients-information {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

.clients-information h6 {
    padding-left: 10px;
    color: var(--primary-hover);
    font-weight: 300;
    font-size: 14px;
}

.client-box {
    display: flex; 
    flex-direction: column; 
}

.client-text {
    padding-left: 10px;
    font-size: 12px;
    color: #fff;
}

.clients-information img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Media 1024px */

@media (min-width:1024px) {

    .testimonial-section {
        margin-left: 40px;
        margin-right: 40px;
    }

    .testimonial-section h2 {
        margin-bottom: 100px;
        padding-top: 100px;
    }

    .testimonial-text {
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 100px;
    }

    .clients-information {
        padding-bottom: 100px;
    }
}

/* Our Services */

.services {
    margin-top: 100px;
}

.rounded {
    background-color: var(--neutral-lightBlue);
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: 30px;
    position: relative;
}

.card-icon {
    position: absolute;
    top: 20px;
    left: 20px; 
} 

.card-service {
    background-color: #ffff;
    box-shadow: 0 3px 30px rgb(55 55 55 / 0.2);
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Media 600px */

@media (min-width:600px) {

    .card-container {
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
    }

    .card-service {
        width: 320px;
    }
}

/* CTA */

.cta-container {
    background-color: var(--secondary);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-container h2 {
    padding: 20px;
    padding-top: 70px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}

.cta-container p {
    color: var(--neutral-dark);
    text-align: center;
}

.input-container {
    padding-top: 20px;
}

.input {
    border: none; 
    padding: 30px 24px;
    width: 400px;
}

.subscribe {
    margin-top: 30px;
    background-color: var(--primary-default);
    font-weight: 300;
    color: #fff;
    padding: 28px 24px;
    border: none; 
    font-size: 17px;
    width: 400px;
}

.subscribe:hover {
    background-color: var(--primary-hover);
}

.button-subscribe {
    padding-bottom: 70px;
}

#email {
    background-image: url(./project-assets/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 75px;
    color: var(--neutral-dark);
    background-position: left;
    background-position-x: 30px;
    font-size: 17px; 
}

::placeholder {
    color: var(--neutral-dark);
}

/* Media 800px */

@media (min-width:800px) {

    .input-container {
        display: flex; 
        flex-direction: row;
        gap: 20px;
        justify-content: flex-start;
        padding-bottom: 50px;
    }

    .cta-container div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .subscribe {
        width: 200px;
        margin-top: 0;
        padding: 28px 24px;
        
    }

    .button-subscribe {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
    }
}

/* Media 1024px */

@media (min-width:1024px) {

    .cta-container {
        margin-left: 40px;
        margin-right: 40px;
    }
}

/* Footer */

.footer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 600px 500px;
    grid-template-rows: 100px;
    grid-gap: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

.links {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 80px 80px 80px;
    grid-gap: 5px;
}

.links a {
    font-size: 17px;
}

.links a:hover {
    color: var(--primary-default); 
}

.circle-info img {
    padding-bottom: 20px;
}

.circle-info p {
    width: 250px;
} 

/* Media 1023px */

@media (max-width:1023px) {

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    
    .links {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 120px 120px 120px;
        grid-template-rows: 80px 80px;
        grid-gap: 5px;
    }

    .circle-info {
        padding-bottom: 50px;
    }

}










